.content {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 48px;
}
